[submodule "lib/pico-ws-server"]
	path = lib/pico-ws-server
	url = https://github.com/cadouthat/pico-ws-server.git
[submodule "lib/pimoroni-pico"]
	path = lib/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico.git
