# Build directory
build/
tests/
.cache/
context/
RemoteFS/clients

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/

# Pico SDK build artifacts
*.elf
*.bin
*.hex
*.dis
*.map

# IDE
# .vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store
