[submodule "src/pico/lib/pico-ws-server"]
	path = src/pico/lib/pico-ws-server
	url = https://github.com/cadouthat/pico-ws-server.git
[submodule "src/pico/lib/pimoroni-pico"]
	path = src/pico/lib/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico.git
