version: '3.8'

services:
  altair-rfs:
    build:
      context: ..
      dockerfile: RemoteFS/Dockerfile
    container_name: altair-rfs
    restart: unless-stopped
    ports:
      - "8085:8085"
      - "8086:80"
    volumes:
      # Persistent storage for client data (read/write)
      - ./clients:/app/clients
      # Web root for Apps download
      - ../Apps:/usr/share/nginx/html:ro
    command: /app/entrypoint.sh
    # logging:
    #   driver: "json-file"
    #   options:
    #     max-size: "10m"
    #     max-file: "3"
